
	.disnone { display: none; }
	body { background: #f4f4f4; }
	.main_ask a { color: #444444; }
	.main_ask { width: 1200px; margin: 0 auto; color: #444444; }
	.main_asksk_t { width: 100%;margin: 0 auto;background: #fff; }
	.ask_top { margin: 0 auto;padding: 40px 0 30px 0;width: 1200px; +height: 78px;_height: 78px; }
	.ask_top .ask_title { width:200px;float: left; margin: 0 auto;text-align: center;line-height: 70px; }
	.ask_top .ask_title h1 { color: #ff2d2d;font-size: 30px;font-weight: normal; }
	.ask_top .ask_ss { width: 580px;z-index: 1; float: left; margin: 8px 80px;position: relative;top: 0;left: 0; }
	.ask_top .ask_ss input.text { color: #666666;width: 560px; float: left;border: 1px solid #eaeaea;height: 44px;line-height: 44px;font-size: 14px;text-indent:38px; }
	.ask_top .ask_ss input.submit { +width: 114px;_width: 114px; cursor: pointer; float: left;border: 0;padding: 0 25px; height: 48px;background-color: #ff2d2d;color: #FFFFFF;font-size: 16px;text-align: center; }
	.ask_top .ask_ss input.submit { position: absolute;top: 0;right: 0; }
	.ask_top .ask_ss input.submit:hover { opacity: 0.9; }
	.ask_top .ask_ss span { z-index: 999; display: inline-block;width: 16px;height: 16px;position: absolute;left: 13px;top: 16px; background: url(../Images/sjgidfhjd.png) no-repeat center center transparent; }
	.ask_top .ask_ss .nav_hot_word { width: 100%;white-space: nowrap;text-overflow: ellipsis; overflow: hidden; }
	.ask_top .ask_ss .nav_hot_word i { display: inline-block;font-style: normal;color: #FF3030; }
	.ask_top .ask_ss .nav_hot_word a { margin-right: 5px;color: #666; }
	.ask_top .sak_sl { width:220px;float: right; margin: 0 auto;text-align: left; }
	.ask_top .sak_sl img { display: block;float: left; width: auto;margin-right:-5px; }
	.ask_top .sak_sl span { display: block;float: left;margin-top: 16px; line-height: 20px;color: #444;font-size: 16px;vertical-align: 4px;letter-spacing: 1px; }
	.ask_top .sak_sl span font { font-size: 12px;color: #999; }
	.main_ask .ask_down { width: 100%; margin: 30px auto; }
	.main_ask .ask_down .ask_left { width: 712px;float: left;background: #fff; }
	.main_ask .ask_down .ask_right { width: 268px; float: left;margin-left: 20px; }
	/*表单*/
	.right_title { /*padding: 20px 0;*/ width: 268px;background-color: #FFFFFF; line-height: 40px; text-align: center;color:#ff2d2d;font-size:22px; }
	.right_title p { display: inline-block;width: 100%;margin: 0;padding: 0; font-size: 12px;color: #9d9999; }
	.right_title p font { color: #ff2d2d; }
	.right_table { width: 238px; border: 1px solid #EAEAEA;border-top:0 ; padding: 15px; margin: 0 auto;overflow: hidden; }
	/*.right_table .right_top { margin: 0 auto 0 auto; }*/
	.right_table .right_top .table_list { /*height: 55px;*/margin: 0 auto; }
	.right_table form .table_list:nth-last-of-type(1) { height: 45px; }
	.right_table .right_down { width: 238px; margin: 0 auto;overflow: hidden;border: 0; }
	.right_table .right_down .down_top { margin: 0 auto; }
	.right_table .right_down .down_top .downtop_list { width: 100%; margin: 14px 0 8px 0;height: 60px;overflow: hidden; }
	.right_table .right_down .down_top .downtop_list span { width: 100%; display: block; margin: 0 auto;text-align:center;line-height: 30px;color: #888; }
	.right_table .right_down .down_top .downtop_list table { width:100%; }
	.right_table .right_down .down_top .downtop_list tr { width:100%; }
	.right_table .txt,span#df select {  border: 1px solid #dedede!important; }
	.but_default { background: #ff2d2d; }
	.but_default:hover { background: #ff2d2d; }
	
	/*表单2*/
	/*一型*/
	.right_table input,.right_table  select { text-indent: 0.5em; }
	.right_table { background: #da2322 url(../Images/tablebgbg.jpg) no-repeat center -59px; border: 0;padding-top: 0px; }
	.right_title {  background: #da2322 url(../Images/tablebgbg.jpg) no-repeat; padding-top: 20px;height: 40px; }
	.right_table .right_top .table_list_top { color: #fff;font-size: 14px; }
	.right_table .right_top .table_list_top font { color: #ffe400; }
	.but_default,.but_default:hover { background: #30df97; }
	.right_table .right_down { border: 0;margin: -6px 3px 0 3px; }
	.right_table .right_down .down_top .downtop_list { margin: -4px 0 0 0; }
	.right_table .right_down .down_top .downtop_list span { color: #fff;font-size: 12px; }
	.right_table .right_down .down_top .downtop_list span:before { content: "";display: inline-block;width: 14px;height: 15px;margin-right: 4px; vertical-align: -2px; background:url(../Images/tableteimgwe.png) center center no-repeat; }
	/*二型*/
	.right_table { background: #ffe382;border: 0;padding-top: 0px; }
	.right_title { background: #ffe382 url(../Images/tebletitle.png) no-repeat center 25px;padding-top: 20px;height: 40px;}
	.right_table .right_top .table_list_top { color: #494949;font-size: 14px; }
	.right_table .right_top .table_list_top font { color: #ff552e; }
	.but_default,.but_default:hover { background: #ff552e; }
	.right_table .right_down .down_top .downtop_list span { color: #393423;font-size: 12px; }
	.right_table .right_down .down_top .downtop_list span:before { content: "";display: inline-block;width: 14px;height: 15px;margin-right: 4px; vertical-align: -2px; background:url(../Images/tableteimg.png) center center no-repeat; }
	/*三型*/
	.right_title { background: #ffe382 url(../Images/tebletitle2.png) no-repeat center 25px; }
	/**/	
	
	/*列表*/
	.ask_left {  }
	.ask_left .ask_lanmu { margin: 0 25px;padding-top:5px ; height: 50px; line-height: 50px;border-bottom: 1px solid #eaeaea; }
	.ask_left .ask_lanmu span { display: block;margin-right: 10px;  cursor: pointer; padding: 0 5px; float: left;font-size:18px;color: #646262; }
	.ask_left .ask_lanmu span.er { border-bottom: 1px solid #ff2d2d; } 
	.ask_left .ask_conter {  margin: 15px 25px 20px 25px; }
	.ask_left .ask_conter .asklist { width: 100%;margin: 0 auto;position: relative; line-height: 30px; border-bottom: 1px dotted #e2e2e2; }
	.ask_left .ask_conter .asklist .asklisttitle { width: 500px;height: 30px;padding-top: 25px; margin-left: 60px; }
	.ask_left .ask_conter .asklist .asklisttitle a:hover { color: #ff2d2d; }
	.ask_left .ask_conter .asklist .asklisttitle a b { font-weight: normal;font-style: normal; color: #ff2d2d; }
	.ask_left .ask_conter .asklist .asklisttitle a { display: block;float: left;width: 360px;font-size: 16px;color: #232323; }
	.ask_left .ask_conter .asklist .asklisttitle font { display: block;float: left;width: 80px;color: #999;font-size: 12px; }
	.ask_left .ask_conter .asklist .asklisttitle span { display: block;float: left;width: 50px;font-size: 12px;color: #999;text-align: center; }
	.ask_left .ask_conter .asklist .asklistmass { position: absolute;top: 23px;right: 0; color: #999;text-align: right;padding-right: 5px; }
	.ask_left .ask_conter .asklist .asklistmass span { display: block;float: left; }
	.ask_left .ask_conter .asklist .asklistmass span.er { margin-left: 15px; }
	.ask_left .ask_conter .asklist em { display: block; font-style: normal; }
	.ask_left .ask_conter .asklist em.pinlun { width: 20px;height: 20px;margin-top: 0;margin-right: 2px; float: left;  background: url(../Images/askicon.png) no-repeat;background-position: -5px -151px; }
	.ask_left .ask_conter .asklist .asklistdowm { width: 100%;display: none;position: relative;top: 0;left: 0;margin-top: -1px; float: left; padding: 0px 0px 14px 0px; }
	.ask_left .ask_conter .asklist .asklistdowm .askdownimg { width: 302px;height: 134px;margin-left: 20px; float: left;border: 1px solid #F4F4F4; }
	.ask_left .ask_conter .asklist .asklistdowm .askdownimg img { width: 100%;height: 100%; }
	.ask_left .ask_conter .asklist .asklistdowm .askdowncom { text-align: justify; width: 400px;padding: 15px;font-size: 12px; height: 104px;overflow: hidden;border-left: 0; float: left; line-height: 28px;color: #888888;background-color: #FDFDFD; }
	.ask_left .ask_conter .asklist .text-none a { color: #666666; }
	.ask_left .ask_conter .asklist .text-none img { display: none; }
	.ask_left .ask_conter .asklist .text-none br { display: none; }
	.ask_left .ask_conter .asklist .text-none font { color: #666666;margin: 0;padding: 0; }
	.ask_left .ask_conter .asklist .text-none strong { color: #666666;margin: 0;padding: 0; }
	.ask_left .ask_conter .asklist .text-none p { color: #666666; margin: 0;padding: 0; }
	.ask_left .ask_conter .asklist .asklistdowm-show { display: block; }
	.ask_left .ask_conter .asklist .jiazaigduo { margin: 20px auto;font-size: 14px; width: 300px; border: 1px solid #EAEAEA;background-color: #FAFAFA;text-align: center;line-height: 40px; }
	.ask_left .ask_conter .asklist .jiazaigduo:hover { cursor: pointer; background-color: #FFFFFF; }
	.ask_left .ask_conter .asklist .jiazaigduo a { display: block;  color: #888888; }
	/*修正版*/
	#ask-tuijian { border: 0; }
	#ask-tuijian .ask_tuijianleft { width: 296px;height: 286px;float: left;position: relative;top: 0;left:0; }
	#ask-tuijian .ask_tuijianleft img { width: 100%;height: 100%; display: block;position: absolute;top: 0;left: 0; float: left; }
	#ask-tuijian .ask_tuijianright { width: 375px;float: left; }
	#ask-tuijian .ask_tuijianright .asklist { border-bottom: 1px solid #EAEAEA; }
	#ask-tuijian .ask_tuijianright .asklist .asklisttitle { width: 334px;height: 44px;line-height: 45px; }
	#ask-tuijian .ask_tuijianright .asklist .asklistmass { float: left; line-height: 8px; }
	#ask-tuijian .ask_tuijianright .asklist em.pinlun { margin-top: -8px; }
	#ask-tuijian .ask_tuijianright .asklist { width: 360px;  padding-bottom: 3px;padding-left: 14px;border-right: 1px solid #EAEAEA; }
	#ask-tuijian .ask_tuijianright .asklist .asklistdowm .askdowncom { width: 323px;height: 58px;font-size: 12px; padding: 10px;overflow: hidden; border: 1px dashed #EAEAEA; background-color: #FFFFFF; }
	#ask-tuijian .ask_tuijianright .asklist .asklistdowm .askdowncom .ov { width:323px;height: 58px;font-size: 14px; display: block;margin: 0;padding: 0;overflow: hidden; }
	#ask-tuijian .ask_tuijianright .asklist-0 { border-top: 1px solid #EAEAEA; }
	#ask-tuijian .ask_tuijianright .asklist .asklisticon { margin: 22px 4px 0px 0px; }
	
	/*类别*/
	#ask-zidao { display: none;border: 0;margin-top: 0; width: 100%; overflow: hidden; }
	#ask-zidao .ashzidaolist { width: 373px;height: 100px; line-height: 32px;font-size: 13px; background-color: #FFFFFF; border: 1px solid #EAEAEA; padding: 0px;margin: 23px 0 0 0;float: left; }
	#ask-zidao .ashasa { margin: 23px 0 0 25px; }
	#ask-zidao .ashzidaolist .ashzidtitle { background-color: #FAFAFA; border-right: 1px solid #EAEAEA;border-bottom: 1px solid #EAEAEA; height: 31px;position: relative;top: 0;left: 0;float: left; }
	#ask-zidao .ashzidaolist .ashzidtitle a { font-size: 14px; }
	#ask-zidao .ashzidaolist .ashzidtitle:hover { background-color: #ff2d2d;line-height: 31px;}
	#ask-zidao .ashzidaolist a { display: inline-block; white-space: nowrap;color: #666666;border-radius: 2px;  margin: 2px 7px;padding: 0 8px;line-height: 28px; }
	#ask-zidao .ashzidaolist a:hover { color: #FFFFFF;background-color: #ff2d2d; }
	/*qiehuan*/
	.askdontai { display: none; }
	.askdontai .asklist .asklistdowmw { padding-bottom: 15px; }
	.askdontai .asklist .asklistdowmw .askdownimgw { width: 46px;height: 46px; position: absolute;top: 31px;left: 0; }
	.askdontai .asklist .asklistdowmw .askdownimgw img { display: block;width: 46px; height: 46px;border-radius: 50%; }
	.askdontai .asklist .asklistdowmw .askdowncomw { width:600px;color: #999;margin-left: 46px; height: 30px;font-size: 12px; overflow:hidden;text-align: justify;line-height: 30px; padding: 0 0 10px 15px; float: left; }
	.askdontai .asklist .asklistdowmw .askdowncomw a { color: #999; }
	.askdontai .asklist .asklistdowmw .askxian { width: 0px;border-right: 1px dashed #EEEEEE; height: 60px;float: left;margin: 5px 5px 0 5px ; }
	
	#askgangan {  }
	#askgangan .asklist .asklistdowmw { float: left; margin: 0 0 0 16px; padding-bottom: 15px; }
	#askgangan .asklist .asklistdowmw .askdownimgw { width: 70px; float: left;text-align: center;}
	#askgangan .asklist .asklistdowmw .askdownimgw img { display: block;width: 46px; height: 46px;border-radius: 5px; margin: 0 auto; }
	#askgangan .asklist .asklistdowmw .askdownimgw span { color: #888888; display: block;line-height: 28px;height: 28px; margin: 0 auto; }
	#askgangan .asklist .asklistdowmw .askdownimgw span { white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
	#askgangan .asklist .asklistdowmw .askdownimgw span a { color: #888888; }
	#askgangan .asklist .asklistdowmw .askdowncomw { width:516px;height: 65px;font-size: 14px; overflow:hidden;text-align: justify;line-height: 24px; padding: 0px 25px 5px 15px; float: left; }
	#askgangan .asklist .asklistdowmw .askdowncomw a { color: #666666; }
	#askgangan .asklist .asklistdowmw .askxian { width: 0px;border-right: 1px dashed #EEEEEE; height: 60px;float: left;margin: 5px 5px 0 5px ; }
	
	/*排名*/
	.askpaimain { width: 268px;background: #fff; margin: 20px auto 0 auto;padding-bottom: 15px; }
	.askpaimain .paimintitle {  color: #333;padding: 20px 0;margin: 0 20px; height: 20px;line-height: 20px;border-bottom: 1px solid #EAEAEA;background-color: #FEFEFE; }
	.askpaimain .paimintitle h3 { display: block;float: left;width: 50%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; cursor: pointer; font-size: 16px;font-weight: normal; margin: 0; padding: 0; }
	.askpaimain .paimintitle span { display: block;cursor: pointer; float: right;border: 1px solid #EAEAEA;position: relative;top: 0;left: 0;margin-left: -1px; padding: 0px 5px; }
	.askpaimain .paimintitle span#hover { color: #FFFFFF;background-color: #ff2d2d;border: 1px solid #ff2d2d; }
	.askpaimain .paiminconter {  margin: 0 auto ;padding: 15px 20px; }
	.askpaimain .paiminconter .paiminlist { +width: 228px;+height: 40px;_width: 228px;_height: 40px; margin: 8px auto;padding: 8px 0;border-top: 1px dotted #EAEAEA; }
	.askpaimain .paiminconter .paiminlist-0 { margin: 4px auto 8px auto;padding-top: 0;border-top:0; }
	.askpaimain .paiminconter .paiminlist .paiminlistimg { display: inline-block; width: 58px; height: 50px;line-height: 56px; float: left;text-align: center; margin: 0px 10px 0px 0px; }
	.askpaimain .paiminconter .paiminlist .paiminlistimg img { max-width: 50px;max-height: 40px;vertical-align: middle; }
	.askpaimain .paiminconter .paiminlist .paiminlisttitle { width: 160px;height: 24px;font-size: 14px; line-height: 24px;margin-top: 4px; float: left;overflow: hidden; }
	.askpaimain .paiminconter .paiminlist .paiminlistmasgge { width: 160px;height: 20px;color:#888888; line-height: 20px; float: left;overflow: hidden; }
	.askpaimain .paiminconter .paiminlist .paiminlistmasgge span { margin-right: 15px; }
	.askpaimain .paiminahover { margin: 0 20px 10px 0;position: relative;top: 0;left: 0; }
	.askpaimain .paiminahover a { display: inline-block;width:41%;font-size: 14px;line-height: 20px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis; float: left; margin: 20px 0px 0 20px; } 
	
	/*排名2*/
	.askpaimainer { margin: 0;border-right: 1px solid #f3f3f3;padding-bottom: 15px; }
	.askpaimainer .paimintitle {   color: #333;padding: 20px 0 15px 0;margin: 0 20px; height: 20px;line-height: 20px;border-bottom: 1px solid #f2f2f2; }
	.askpaimainer .paimintitle h3 { display: block;float: left;cursor: pointer; font-size: 18px;font-weight: normal; margin: 0; padding: 0;}
	.askpaimainer .paimintitle span { display: block;cursor: pointer; float: right;border: 1px solid #EAEAEA;position: relative;top: 0;left: 0;margin-left: -1px; padding: 0px 5px; }
	.askpaimainer .paimintitle span#hover { color: #FFFFFF;background-color: #ff2d2d;border: 1px solid #ff2d2d; }
	.askpaimainer .paiminconterer {  margin: 0 auto ;padding: 15px 20px; }
	.askpaimainer .paiminconterer .paiminlist { margin: 8px auto;padding: 8px 0;border-top: 1px dotted #EAEAEA; }
	.askpaimainer .paiminconterer .paiminlist-0 { margin: 4px auto 8px auto;padding-top: 0;border-top:0; }
	.askpaimainer .paiminconterer .paiminlist .paiminlistimg { display: inline-block; width: 58px; height: 50px;line-height: 56px; float: left;text-align: center; margin: 0px 10px 0px 0px; }
	.askpaimainer .paiminconterer .paiminlist .paiminlistimg img { max-width: 50px;max-height: 40px;vertical-align: middle; }
	.askpaimainer .paiminconterer .paiminlist .paiminlisttitle { width: 190px;height: 24px;font-size: 14px; line-height: 24px;margin-top: 4px; float: left;overflow: hidden; }
	.askpaimainer .paiminconterer .paiminlist .paiminlistmasgge { width: 190px;height: 20px;color:#888888; line-height: 20px; float: left;overflow: hidden; }
	.askpaimainer .paiminconterer .paiminlist .paiminlistmasgge span { margin-right: 15px; }
	.askpaimainer .paiminahoverer { margin: 0 10px 0px 10px;position: relative;top: 0;left: 0; }
	.askpaimainer .paiminahoverer a { display: inline-block;line-height: 20px; color: #666666;border-radius: 2px; font-size: 13px; white-space: nowrap; float: left;padding: 2px 4px; margin: 10px 5px 0 5px; } 
	.askpaimainer .paiminahoverer a:hover { color: #FFFFFF;background-color: #ff2d2d; }
	/*.right_table { border: 0;background: #fff; }*/
	.main_ask .ask_down .ask_right_ask { float: left;margin: 0;width: 200px;background: #fff; }
	.asktui_uy { text-align: center;margin: 0 auto;letter-spacing: 0; padding: 40px 0 5px 0; line-height: 40px; font-size: 28px;color: #616161; }
	.asktui_uy span { display: inline-block;margin: 0 10px;vertical-align: middle;height: 40px; }
	.asktui_uy span.sk { width: 20px;height: 26px;overflow: hidden;margin: 0 -3px 0 -3px;+margin: 0 1px;_margin: 0 1px; line-height: 26px;+line-height: 32px;_line-height: 32px; text-align: center; color: #fff;background: #ff2d2d;border-radius: 6px;padding: 5px 4px; }
	.asktui_uy span.sk font { display: inline-block;+display: block;_display: block; width: 20px;height: 26px; margin: 0 auto 10px auto;font-size: 30px; }
	.asktui_uy span.jk { width: 20px; margin: 0 ;height: 400px; }
	.asktui_up { padding: 25px 0 35px 0;;text-align: center;border-bottom: 1px solid #efefef; }
	.asktui_up span { display: inline-block;cursor: pointer; margin: 0 25px;padding: 0 25px;border: 1px solid #efefef;padding-left: 48px;color: #929292;font-size: 14px; } 
	.asktui_up span { background: url(../Images/pooisdnfg.png) #f9f9f9 no-repeat; }
	.asktui_up span:first-child { background-position: 22px 8px; }
	.asktui_up span:nth-child(2) { background-position: 22px -54px; }
	.asktui_up span:first-child +span { background-position: 22px -54px; }
	.ggtjuan .ggttitle strong { background: #f4f4f4; }
	
	
	.sec_bd{ margin: 0 25px;+height:370px;_height: 370px; line-height: 20px;padding: 5px 0 42px 0; }
	.sec_bd:after{display:block;clear:both;content:"\0020";visibility:hidden;height:0;}
	.sec_bd li{float: left;width: 50%;padding-top: 30px;}
	.sec_bd .answer_num{width: 38px;height: 38px;color: #ff2d2d;text-align: center;background-color: #fff;border: 1px solid #ff2d2d; border-radius: 5px; float: left;}
	.sec_bd .answer_num em{display: block;font-family: arial;font-weight: bold;font-size: 14px;height: 16px;padding-top: 2px;}
	.sec_bd .answer_info{width: 260px;float: left;margin: 0 20px 0 10px;color: #999;}
	.sec_bd .answer_info a{display: block;font-size: 14px;width: 100%;margin-bottom: 3px;}

	
	