
	.jpmain { width: 1200px;margin: 0 auto;color: #444444; }
	.jpmain a { color: #444444; }
	.jpmain .mydaohen a { color: #888888; }
	.jpmain .jpconter { width: 100%; margin: 0px auto 25px auto; }
	.header_bg { background-color: #FFFFFF; }
	body { /*background: url(../images/jpimgbg.png) no-repeat;*/background-size: 100% auto; }
	/*qwe*/
	
	.jpmain .jpconter .ji_list { width: 100%;margin: 25px auto;background-color: #FFFFFF; }
	.jpmain .jpconter .ji_list .list-a { width: 420px;height: 450px;float: left; }
	.jpmain .jpconter .ji_list .list-a .a-a { width: 420px;height: 248px;float: left;position: relative;top: 0;left: 0; }
	.jpmain .jpconter .ji_list .list-a .a-a .a-a-a { width: 249px;height: 247px; position: absolute;top: 0;left: 0;margin-right: -10px; float: left;overflow: hidden;border-top: 1px solid #FAFAFA;border-left: 1px solid #FAFAFA; }
	.jpmain .jpconter .ji_list .list-a .a-a .a-a-b { width: 180px;height: 248px; float: right; }
	.jpmain .jpconter .ji_list .list-a .a-c { width: 420px;height: 201px;float: left;border-top: 1px solid #FAFAFA; }
	.jpmain .jpconter .ji_list .list-b { width: 358px;height: 450px;float: left;border-right: 1px solid #FAFAFA;border-left: 1px solid #FAFAFA; }
	.jpmain .jpconter .ji_list .list-b .b-a { width: 100%; height: 172px;float: left; }
	.jpmain .jpconter .ji_list .list-b .b-b { width: 100%; height: 277px;float: left;border-top: 1px solid #FAFAFA; }
	.jpmain .jpconter .ji_list .list-c { width: 420px;height: 450px;float: left; }
	.jpmain .jpconter .ji_list img { width: 100%;height: 100%; }
	.jpmain .jpconter .ji_list img:hover { opacity: 0.96;z-index: 1; }
	.jpmain .jpconter .ji_list .list-a .a-a .a-a-b img:hover { opacity: inherit;z-index: 1; }
	.jpmain .jpconter .ji_list .atitle { padding: 25px;height: 230px; background: url(../images/jpbg.png) no-repeat; background-position: 9px 0px; }
	.jpmain .jpconter .ji_list .amtoimg { margin-top: 15px; height: 60px;line-height: 50px; text-indent: 3.5em;background: url(../images/jpicon.png) no-repeat;  background-position: 5px -3px;; }
	.jpmain .jpconter .ji_list .amtoimg a { color: #666666; }
	.jpmain .jpconter .ji_list .amtitle { margin: 0px auto 15px auto;width:100%; height: 28px; line-height: 28px;/*white-space: nowrap;*//*text-overflow: ellipsis;*/ overflow: hidden; }
	.jpmain .jpconter .ji_list .amconte { margin: 0 auto;width:100%;color: #666666; height: 56px; line-height: 28px; }
	.jpmain .jpconter .ji_list .amconte { display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis; }
	.jpmain .jpconter .ji_list .amtitle h3 { padding: 0;margin: 0;display: inherit; font-weight: bold; font-size: 26px;  }
	.jpmain .jpconter .ji_list .amconte a { color: #666666; }
	/*show*/
	.bk_rj { width: 240px;float: left;margin-top: 200px; }
	.bkright { width: 240px;margin: 0px; float: left;overflow: hidden; }
	.bkright .bkrightllist { margin: 0 auto; }
	.bkright .bkrightllist_er { margin: 20px auto 0 auto;height: 130px;border: 1px solid #EAEAEA; }
	.right_table { width: 208px; }
	.right_title { width: 240px; }
	span#df select { width: 102px; }
	input.txt { width: 94%;padding: 0 3%; }
	.right_table .right_top { margin: 0 auto; }
	.right_table .right_top .table_list { height: 52px; }
	.right_table .right_top .table_list_top { height: 40px; }
	.tatlesoanm { text-align: center;margin: 10px auto 0 auto;line-height: 20px; }
	.tatlesoanm a { color: #009889;font-size: 12px; }
	.tatlesoanm a:hover { color: #009889;text-decoration: underline; }
	.bk_rj .tj_right { width: 218px;margin-top: 30px; border: 1px solid #EAEAEA;padding: 20px 10px 0px 10px;float: left;}
	.bk_rj .tj_right .tj_title { width: 198px; margin: 0 auto;/* border-bottom: 1px solid #EAEAEA;*/ }
	.bk_rj .tj_right .tj_title h2 {display: inline-block; font-size: 24px;line-height: 40px; color: #333333; font-weight: normal; margin: 0 0 15px 0;padding: 0; }
	.bk_rj .tj_right .tj_title span { display: inline-block;margin-left: 10px; }
	.bk_rj .tj_right .tj_title span a { color: #888888;font-size: 12px; }
	.bk_rj .tj_right .tj_conter { width: 198px; margin: 0 auto; overflow: hidden; }
	.bk_rj .tj_right .tj_conter_aaa { width: 218px;padding-bottom: 10px; }
	.bk_rj .tj_right .tj_conter_aaa a {   display: inline-block;/*color: #666666;*/font-size: 14px; white-space: nowrap;float: left;margin: 0px 10px 10px 10px; }
	.bk_rj .tj_right .tj_conter_aaa a:hover { color: #444444; text-decoration: underline; }
	.tj_conter_list { width: 198px;font-size: 14px; line-height: 40px;padding: 4px 0;border-top: 1px dotted #EAEAEA; /*border-bottom: 1px dotted #EAEAEA;*/white-space: nowrap;text-overflow: ellipsis; overflow: hidden; }
	.tj_conter_list span { display: block; margin: 0 auto;line-height: 30px;margin-top: 5px;white-space: nowrap;text-overflow: ellipsis; overflow: hidden; }
	.tj_conter_list span.er { color: #888888;height: 30px; font-size: 12px; margin-top: -5px; margin-bottom: 5px; white-space: nowrap;text-overflow: ellipsis; overflow: hidden; }
	.tj_conter_list span.er * { font-weight: normal;font-style: normal; margin: 0;padding: 0;display: inline; }
	.tj_righter .tj_conter_list { padding: 8px 0; }
	.tj_righter .tj_conter_list span { text-align: center; margin-top: 0;margin-bottom: 5px;line-height: 20px; }
	.bk_rj .tjconter_img { width: 240px;float: left;text-align: center; }
	.bk_rj .tjconter_img img { display: inline-block;width: 100%; }
	.bk_rj .tjconter_bg { width: 200px; padding:20px 20px;margin-top: 30px; background-color: #009889;color: #FFFFFF;line-height: 45px; }
	.bk_rj .tj_right_er { margin-bottom: 0; }

	.jptitle { margin: 10px auto 25px auto;padding-top: 60px; text-align: center; }
	.jptitle em { display: inline-block;  vertical-align: top;width: 90px;height: 90px;background-color: #00405D; }
	.jptitle em  {background: url(../images/jpicon.png) no-repeat; background-position: -18px -200px;  position: relative;top: -14px;left: 2px;}
	.jptitle h1 { display: inline-block; font-size: 36px;line-height:90px;margin: 0; font-weight: bold; }
	.jp_xonter { width: 940px;margin: 0;float: left; margin-bottom: 25px;background-color: #FFFFFF;  }
	.jp_xonter .jpdaodu { line-height: 28px; color: #666666;position: relative;text-align: justify; top: 0;left: 0; font-size: 14px;width:700px; padding: 15px 0px;margin: 0 auto; }
	.jp_xonter .jpdaodu .assd { width: 50px;height: 50px;background-color: #00405D;background: url(../images/jpicon.png); }
	.jp_xonter .jpdaodu .assd_a { position: absolute;top: 0;left: -60px; float: left;background-position:  8px -111px; }
	.jp_xonter .jpdaodu .assd_b { position: absolute;bottom: 0;right: -60px;float: right;background-position:  -10px -135px; }
	.jp_xonter .jpconter { width: 100%;padding: 15px 0px; margin: 0 auto;  }
	.jp_xonter .jpconter { font-size: 16px;text-align: center;line-height: 28px;color: #666666; }
	.jp_xonter .jpconter p {  }
	.jp_xonter .jpconter img { width: auto; max-width: 760px; }
	.jp_xonter .jpconter span { display: inline-block;text-indent:1.5em; padding: 40px 10px 20px 37px;background: url(../images/jpicon.png) no-repeat;background-position: -50px -336px;  }
	#biaoshi { color: #888888;margin-top: 35px; }
	
	.jptj_title { width:940px; margin:25px auto 25px auto;font-size: 16px;line-height: 40px;border-bottom: 1px solid #EAEAEA; }
	.jptj_conter { margin: 0 auto;width:940px; }
	.jptj_conter .jptj_liset { float: left;width: 216px;margin-left: 25px; }
	.jptj_conter .jptj_liset img { display: block; margin: 0 auto;width: 100%;height: 140px; }
	.jptj_conter .jptj_liset span { display: block; margin: 0 auto; width: 100%; height: 30px;overflow: hidden; line-height: 28px;font-size: 14px;text-align: center; }
	.jptj_conter .jptj_0 { margin: 0; }

	.pages { width:100%;padding:30px 0;text-align:center;line-height: 40px; }
	.pages a , .pages span {  display: inline-block;padding: 0 15px; border:1px solid #EAEAEA;background-image: none !important; background: #fff;margin-right:5px; }
	.pages .links{ border: 0;padding: 0; }
	.pages .hovers{  background:#F76D4E;border:1px solid #F76D4E;color:#fff;}
	
	
	.xgt_top { float: left; margin: 18px auto 0px auto; position:relative;top: 0;left: 0;overflow: hidden; }
	.xgt_top .lan_list {  cursor: pointer; font-size: 14px; }
	.xgt_top .spantitle { float: left;font-size: 14px;margin: 0 15px;  line-height: 24px;}
	.xgt_top .lan_list { display: inline-block;padding: 0 10px; }
	.xgt_top .lan_list_er { background: #F76D4E; position: relative;top: 0;left: 0; }
	.xgt_top .lan_list_er h1,
	.xgt_top .lan_list_er h2 { color: #FFFFFF; }
	.xgt_top .lan_list_er h1 a,
	.xgt_top .lan_list_er h2 a { color: #FFFFFF; }
	.xgt_daoh { width: 1198px; border: 1px solid #EAEAEA;margin: 22px auto 20px auto;height: 38px; }
	.xgt_daoh .menu_item { width: 156px;height: 114px;overflow: hidden; float: left;border-left: 1px solid #EAEAEA; }
	.xgt_daoh .m_fengge { border: 0; }
	.xgt_daoh .menu_item span { display: block;padding: 0 10px;margin-right: 2px; float: left;border-right: 1px solid #EAEAEA;border-bottom: 1px solid #EAEAEA;background-color: #FAFAFA; line-height: 27px;font-size: 12px; }
	.xgt_daoh .menu_item a { display: block;padding: 0 10px; float: left;white-space: nowrap; line-height: 28px;font-size: 12px; }
	.xgt_daoh .m_mianji a { padding: 0 9px; }
	.xgt_daoh .menu_item a:hover { color: #444; }	
	.xgt_daoh {  }
	.xgt_daoh .xgt_daoh_top {   }
	.xgt_daoh .xgt_daoh_top .spantitle { float: left;font-size: 14px;line-height: 40px;  font-weight: bold;margin-right: 15px;  }
	.xgt_daoh .xgt_daoh_top span { display: block; cursor: pointer;border-right: 1px solid #EAEAEA; font-size: 14px; line-height: 34px;padding: 2px 30px; float: left; }
	.xgt_daoh .xgt_daoh_top span.er { background-color: #009889;color: #FFFFFF; }
	.xgt_daoh .xgt_daoh_top span.er a { color: #FFFFFf; }
	.xgt_daoh .xgt_daoh_top span:hover { background-color: #009889;color: #FFFFFF; }
	.xgt_daoh .xgt_daoh_top span:hover a { color: #FFFFFf; }
	.xgt_daoh .xgt_daoh_down {  width: 900px; margin: 8px auto 16px auto;border: 1px solid #EAEAEA; position: relative;top: 0;left: 0; background-color: #FAFAFA;padding:5px 50px; }
	.xgt_daoh .xgt_daoh_down .xgt_daoh_down_list { display: none;font-size: 13px; float: left; }
	.xgt_daoh .xgt_daoh_down .xgt_daoh_down_list a { display: block;line-height: 20px;padding: 2px 8px;/*border-radius: 5px;*/ margin: 2px 15px 2px 0; float: left; }
	.xgt_daoh .xgt_daoh_down .xgt_daoh_down_list a.er { color: #F76D4E;background-color: #F76D4E;color: #FFFFFF; }
	.tubiaow { width: 20px;height: 20px;position:absolute;top: -16px;left: 50px;background-color: #008EBF;  background: url(../images/xgt_bg.png) no-repeat;  background-position: -20px -193px; }
	.tubiaow_a { left: 119px; }
	.tubiaow_b { left: 179px; }
	.tubiaow_c { left: 239px; }
	.tubiaow_d { left: 299px; }
	.tubiaow_e { left: 359px; }
	.tubiaow_f { left: 419px; }
	.tubiaow_g { left: 479px; }
	.tubiaow_h { left: 59px; }
	.xgt_daoh { border: 1px solid #EAEAEA;margin: 22px auto 20px auto; }
	.xgt_daoh .menu_item { width: 156px;height: 114px;overflow: hidden; float: left;border-left: 1px solid #EAEAEA; }
	.xgt_daoh .m_fengge { border: 0; }
	.xgt_daoh .menu_item span { display: block;padding: 0 10px;margin-right: 2px; float: left;border-right: 1px solid #EAEAEA;border-bottom: 1px solid #EAEAEA;background-color: #FAFAFA; line-height: 27px;font-size: 12px; }
	.xgt_daoh .menu_item a { display: block;padding: 0 10px; float: left;white-space: nowrap; line-height: 28px;font-size: 12px; }
	.xgt_daoh .m_mianji a { padding: 0 9px; }
	.xgt_daoh .menu_item a:hover { color: #444; }
	.xgt_daoh_er { float: left; }
	.xgt_daoh_sv { margin-top: 7px;margin-left: 120px; }
	.xgt_daoh_er {  }
	.xgt_daoh_er a.a,.jp_top span  { display: block; float: left; }
	.xgt_daoh_er span span.em { display: block;margin-left: 0; border: 0;padding: 0 25px; float: left;margin-right: 8px; }
	.xgt_daoh_er span em { display: block;float: left;cursor: pointer; width: 23px;height: 23px;border: 1px solid #FFFFFF;border-right:0 ; }
	.xgt_daoh_er span em.a {  background: #000000; }
	.xgt_daoh_er span em.b {  background: #DDDDDD; }
	.xgt_daoh_er span em.c {  background: #F76E98; }
	.xgt_daoh_er span em.d {  background: #D92121; }
	.xgt_daoh_er span em.e {  background: #800080; }
	.xgt_daoh_er span em.f {  background: #218FD9; }
	.xgt_daoh_er span em.g {  background: #2D8C15; }
	.xgt_daoh_er span em.i {  background: #FFD200; }
	.xgt_daoh_er span em.k {  background: url("../images/imgcai25x25.png") no-repeat center center;background-size: cover; }
	.xgt_daoh_er span em:hover { opacity: 0.6; }
	.xgt_daoh_er { float: left; }
	.xgt_daoh_sv { margin-top: 7px;margin-left: 120px; }
	.xgt_daoh_sv span { display: inline-block; padding: 0;margin-right: 10px; }
	.xgt_daoh_sv span i { display: none; }
	.xgt_daoh_sv span:hover { background-color: #FFFFFF; }
	.xgt_daoh_sv span.er { background-color: #FFFFFF; }

	.mytopxgt { width: 1216px; margin: 15px 0 0px -8px;height: 76px;overflow: hidden; }
	.mytopxgt .mytopxgt_list { float: left;width: 221px;padding: 6px 0; /*border: 1px solid #EAEAEA;*/border-right: 0; overflow: hidden; }
	.mytopxgt .mytopxgt_list_er { margin-left: 8px; }
	/*.mytopxgt .mytopxgt_list:hover .xgttubiaow { background-color: #F76D4E;color: #FFFFFF; }*/
	.mytopxgt .mytopxgt_list .xgttubiaow { color: #999999; width: 44px;border-radius:1px ; margin-right: 4px; height: 44px;padding: 10px 8px; line-height: 44px;float: left;text-align: center;font-size: 16px; }
	.mytopxgt .mytopxgt_list .xgttubiaow { border: 1px solid #DADADA; background-color: #FAFAFA; }
	.mytopxgt .mytopxgt_list .xgtturight { float: left;  width: 155px;/*height: 100px;*/overflow: hidden; }
	.mytopxgt .mytopxgt_list a { color: #666666; display: inline-block; float: left;line-height: 20px;margin:0 0 0 0; }
	.mytopxgt .mytopxgt_list a { padding: 0 3px;border-radius: 1px;border: 1px solid #fff; }
	.mytopxgt .mytopxgt_list a:hover {  color: #F76D4E; border: 1px solid #f76d4e; }
	.mytopxgt { height: 98px; }
	.mytopxgt .mytopxgt_list { width: 172px; }
	.mytopxgt .mytopxgt_list .xgttubiaow { width: 18px;height: 48px; font-size: 14px; padding: 20px 6px; line-height: 24px;margin: 0 4px 0 2px; color: #888; border: 1px solid #dadada;    border-radius: 2px; background-color: #fff;}
	.mytopxgt .mytopxgt_list .xgtturight { width: 130px;height: 88px;overflow: hidden; }
	


	.right_title { height: 60px;background-color: #FFFFFF; font-size: 14px;text-indent: 3.5em; line-height: 60px; text-align: center;background: url(../images/img2015.png) #27BC9C;background-position: 0px -104px;color: #FFFFFF; }
