div { cursor: default;}
h1,h2,h3,h4 { margin: 0px; padding: 0px; }
li { list-style: none; font-style: normal; }
 
#case_main { width: 1200px;margin: 22px auto; }
/*头部检索模块*/

.comAreaChoose{ width: 1198px; padding: 0px;border: 1px solid #DADADA; }
.comAreaChoose .areades { font-size: 14px; padding: 14px 0px; border-bottom: 1px solid #DADADA; }
.comAreaChoose .areades p { display: inline-block; margin: 0 ;padding: 0; }
.comAreaChoose .comSselect { font-size: 12px; line-height: 50px;cursor: default; }
.comAreaChoose .comSselect span{ display: block;float: left;background-color: #f8f8f8; font-weight: bold;margin-right: 15px;padding: 0 30px 0 30px; }
.comAreaChoose .comSselect .li { width: 985px;float: left; }
.comAreaChoose .comSselect a{ line-height: 47px; padding:5px;margin: 2px; text-decoration: none; white-space: nowrap;font-size: 12px;border-radius:2px ; }
.comAreaChoose .comSselect a:hover{ background: #F76D4E;color:white;text-decoration: none;}
.comAreaChoose .comSselect .selected{ background:#F76D4E;color:white; }
.comAreaChoose .comCurrent{ background:#F76D4E;color:white }
.comAreaChoose .areades h1 { display: block;padding-left: 15px; font-size: 16px;font-weight: normal; line-height: 24px; float: left; color:#333333; }
.comAreaChoose .areades p.p { padding: 0;margin: 0 10px;display: block;font-size: 14px; float: left;line-height: 24px;color: #999; }
.comAreaChoose .areades span { display: block;display: none; border: 1px solid #F76D4E; float: left; margin: 0 15px 0 0;padding: 0;font-size: 12px;font-family: "微软雅黑"; }
.comAreaChoose .areades span.as {line-height: 20px;margin-top: 1px;}
.comAreaChoose .areades span p.ppp { display: block;height: 20px; padding: 0px 5px;font-size: 14px;line-height: 16px; float: left;margin: 0px;color:#F76D4E ; }
.comAreaChoose .areades span p.ppp:hover { cursor: pointer;background-color: #F76D4E;color: #FFFfff; }
.comAreaChoose .areades span em.xxx { display: block;cursor: default; font-style: normal; float: left;margin: 0px 5px;color:#F76D4E ; }
.comAreaChoose .areades .span_rif { font-size: 12px;line-height: 24px;float: left;margin-left: 5px;color: #666666; }
.comAreaChoose .comSselect span { font-weight: normal; }
.comAreaChoose .comSselect_er { border-bottom: 1px dotted #DADADA; }


/*设计信息模块*/
#case_main .conter { margin: 15px 20px 15px 0px;width: 940px; float: left; background-color: #FFFFFF;}
#case_main .conterad { width: 240px;float: left; }
#case_main .conter .case_siteMap { margin: 11px 0 0 0; height: 40px;border: 1px solid #EAEAEA;line-height: 40px;padding: 0px 15px;background-color: #F8F8F8; }
#case_main .conter .case_siteMap span { color: #F76D4E;margin: 0px 3px; font-weight: 800; font-size: 16px;}
#case_main .conter #xiaoqu_listL { margin: 0 auto; }
#case_main .conter #xiaoqu_listL .newsListItem { margin:25px 0px 0 0px;padding-bottom: 25px;border-bottom: 1px dotted #EAEAEA; width: 840px; overflow: hidden;float: left; }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_pic { float: left;margin: 0 25px 0 10px; width: 200px;height: 120px; }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_pic a { display: block;width: 100%; height: 100%;overflow: hidden; margin: 0;padding: 0; }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_pic a img { width: 100%; height: 100%; }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_main { width: 580px; float: left; line-height: 30px; }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_main .c_main_title { height: 30px;font-size: 14px;font-weight: bold }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_main .c_main_content {  }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_main .c_main_content .li { display: block; white-space: nowrap; }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_main .c_main_content .li span {  }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_main .c_main_content .li em { font-style: normal; color:#F76D4E; margin:0px 5px ;font-size: 14px; }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_main .c_main_content .li a { margin-right: 10px;  }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_main .c_main_content .li a:hover { text-decoration: underline; }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_main .c_main_content .li a.setbold {  }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_main .c_main_content .li .but { cursor: pointer; width: 120px; background-color: #F76D4E;color: #ffffff;padding: 8px 16px;border: 0px;letter-spacing: 1px;border-radius: 4px; }
#case_main .conter #xiaoqu_listL .newsListItem .nl_c_main .c_main_content .li .but { position: relative;display: block;margin-top: 6px;line-height: 30px; float: right;margin-right: 0px; }


ul,li { margin: 0 ;padding: 0 ;list-style: none;font-style: normal; }
.bk_rj { margin: 25px auto; width: 1100px; }
.bk_rj .tj_rightright { width: 240px;float: left; }
.bk_rj .tj_right { width: 218px;margin-bottom: 25px; border: 1px solid #EAEAEA;padding: 10px;float: left;}
.bk_rj .tj_right .tj_title { width: 198px; margin: 0 auto;/* border-bottom: 1px solid #EAEAEA;*/ }
.bk_rj .tj_right .tj_title h2 {display: inline-block; font-size: 24px;line-height: 40px; color: #333333; font-weight: normal; margin: 0 0 15px 0;padding: 0; }
.bk_rj .tj_right .tj_title span { display: inline-block;margin-left: 10px; }
.bk_rj .tj_right .tj_title span a { color: #888888;font-size: 12px; }
.bk_rj .tj_right .tj_conter { width: 198px; margin: 0 auto; overflow: hidden; }
.bk_rj .tj_right .tj_conter_aaa { width: 218px;padding-bottom: 10px;font-size: 14px;line-height: 20px; }
.bk_rj .tj_right .tj_conter_aaa a {   display: inline-block;/*color: #666666; */white-space: nowrap;float: left;margin: 0px 10px 10px 10px; }
.bk_rj .tj_right .tj_conter_aaa a:hover { color: #444444; text-decoration: underline; }
.tj_conter_list { width: 198px;line-height: 30px;font-size: 14px; padding: 4px 0;border-top: 1px dotted #EAEAEA; /*border-bottom: 1px dotted #EAEAEA;*/white-space: nowrap;text-overflow: ellipsis; overflow: hidden; }
.tj_conter_list span { display: block; margin: 0 auto;line-height: 30px;margin-top: 5px;white-space: nowrap;text-overflow: ellipsis; overflow: hidden; }
.tj_conter_list span.er { color: #888888;height: 30px; font-size: 12px; margin-top: -5px; margin-bottom: 5px; white-space: nowrap;text-overflow: ellipsis; overflow: hidden; }
.tj_conter_list span.er * { margin: 0;padding: 0;display: inline;font-style: normal;font-weight: normal; }
.tj_conter_list span a {  }
.bk_rj .tjconter_img { width: 240px;float: left;margin-bottom: 25px;text-align: center; }
.bk_rj .tjconter_img img { display: inline-block;width: 100%; }
.bk_rj .tjconter_bg { width: 200px; padding:20px 20px;margin-top: 25px; background-color: #009889;color: #FFFFFF;line-height: 45px; }
.bk_rj .tj_left {  width: 835px;min-height: 700px; margin-right: 25px;float: left; }
.bk_rj .tj_left .tj_title { width: 100%;margin: 0 auto; border-bottom: 1px solid #EAEAEA; /*overflow: hidden;*/ }
.bk_rj .tj_left .tj_title h2 { font-weight: normal; margin: 0;padding: 0; }
.bk_rj .tj_left .tj_conter { width: 100%; }
.bk_rj .tj_left .tj_conter .tjlist { width: 100%;margin: 0 auto; height: 200px;border-bottom: 1px dotted #eaeaea ; }
.tjroasd { width: 240px;float: left;overflow: hidden; }
.bk_rj .tjroasd { position: relative;top: 0;left: 0; }
.bk_rj .tj_right .tj_title h2 { font-size: 18px; }
.bk_rj .tjroasd .tjconter_bg {  }
.right_table { width: 208px; }
.right_title { width: 240px; }
span#df select { width: 67.8px; }
input.txt { width: 94%;padding: 0 3%; }
.right_table .right_top { margin: 0 auto; }
.tatlesoanm { text-align: center;margin-top: 5px; }
.tatlesoanm a {  line-height: 20px; color: #009889;font-size: 12px; }

#page { margin-top: 60px; }

.right_title { width: 240px;height: 60px;background-color: #FFFFFF; font-size: 14px;text-indent: 3.5em; line-height: 60px; text-align: center;background: url(../Images/img2015.png) #27BC9C;background-position: 0px -104px;color: #FFFFFF; }
.but_default { background-color: #F39943; }


